.navbar{
    position: fixed;
    background-color:black;
    width: 100%;
    height: 40px;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.navbar-list {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding: 0;
    top: 0px;
}

.navbar-item {
    list-style: none;;
    margin-right: 10px;
    line-height: var(--navbar-height);
    height: var(--navbar-height);
    align-self: flex-end;
}

.navbar-item-img{
    height: var(--navbar-height);
    line-height: var(--navbar-height); 
}

.navbar-item > a  {
    display: inline-block;
    text-decoration: none;
    font-family: ubuntu;
    font-size: 20px;
    color: white;
    height: var(--navbar-height);
    line-height: 40px;
    padding: 5px;
    text-align: right;
}

.navbar-item-img > a{
    display: inline-block;
    text-decoration: none;
    font-family: title;
    font-size: var(--navbar-height);
    color: white;
    height: var(--navbar-height);
    line-height: 30px;
    padding: 5px;
    margin-right: auto;
} 

.navbar-image{
    width: 30px;
    height: var(--navbar-height);
    margin-left: 10px;
    margin-top: 1px
}

.navbar-item :hover{
    background: #666666;
}

.navbar-item-img :hover{
    background: #666666;
}

.navbar-image{
    border: none;
}

img {
    flex: 1;
    width: 198px;
    height: 198px;
    border-radius: 10px;
    flex-shrink: 3;
    border: solid 1px;
}